<div
  class="page"
  [ngClass]="{
    fullsize: scrollHiddenToolbar$ | async,
    'see-actions-pages': seeContentPages()
  }"
>
<div class="list-view">
  <div class="list-view-header">
    <app-input-bar-filter
      [isSpinSearch]="spinnerListView"
      [isEditionMode]="isShowAction"
      [formFilter]="formPoliza"
      [isShowPanelFilter]="isShowPanelFilter"
      [isShowFilterButton]="false"
      [isShowAddButton]="permission.readonly_write"
      (onKeyUpBarSearch)="onKeyUpBarSearch($event)"
      (onCleanBarSearch)="onCleanBarSearch()"
      (onSearchButton)="searchByText(true)"
      (onAddButton)="onAddTypePoliza()"
      (onBackButtonEditMode)="onBackButtonEditMode()"
      (onDeleteEditMode)="onDelete()"
    >
    </app-input-bar-filter>
  </div>




    <div class="list-view-content" appScrollHiddenHeader></div>
</div>
<div class="content">
    <static-router-outlet></static-router-outlet>
  </div>
</div>