<!--CONFIRMACION DE BORRAR EL REGISTRO-->
<div
  *ngIf="showAlert"
  class="toast-delete-confirm"
  [ngStyle]="{
    top: fromModal ? ((scrollHiddenToolbar$ | async) ? '1%' : '125px') : ''
  }"
>
  <div class="toast-delete-confirm-container">
    <mat-icon class="notranslate icon-type not-selected">warning</mat-icon>
    <div class="message not-selected">
      <!-- <span class="title"> -->
      {{ deleteMessage }}
      <!-- </span> -->
    </div>
    <!-- <button mat-icon-button > -->
    <mat-icon
      (click)="mouseleaveBtn()"
      class="notranslate icon-close not-selected"
      >cancel</mat-icon
    >
    <!-- </button> -->
  </div>
  <div class="action-buttons">
    <button
      (click)="delete()"
      class="button-confirm not-selected"
      type="button"
      mat-flat-button
    >
      Confirm delete
    </button>
  </div>
</div>
<!-- BOTONES -->
<button
  *ngIf="!confirmDelete"
  mat-icon-button
  [matTooltip]="'Delete'"
  [disabled]="!enableDelete"
  (click)="confirmDeletes()"
>
  <mat-icon
    class="notranslate base-delete-icon"
    [ngClass]="fromModal ? 'icon-color-secundary' : ''"
    >delete</mat-icon
  >
</button>
<button
  *ngIf="confirmDelete"
  mat-icon-button
  [matTooltip]="'Confirm delete'"
  (click)="delete()"
>
  <div class="icons spin-content" [ngClass]="{ 'active-spin': actionDelete }">
    <mat-icon class="notranslate icon-default confirm-delete-icon"
      >delete_forever</mat-icon
    >
    <mat-icon class="notranslate icon-spin icon-hover">autorenew</mat-icon>
  </div>
</button>
