#fab-button-custom {
    right: 0;
    bottom: 0;
    position: fixed;
    margin-right: 16px;
    margin-bottom: 16px;
    color: #fff;
    z-index: 9999;

    mat-icon {
        color: #eee !important;
    }
}