.custom-dialog {
    padding: 20px 20px 20px 0px;
    overflow: hidden !important;
}
.contenido, label {
    font-size: 16px !important;
    color: rgba(0,0,0,.65) !important;
    font-weight: 400 !important;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}
.mat-raised-button {
    min-width: 78px !important;
}