<mat-toolbar id="toolbar-app" @show>
    <div class="content">
      <div class="left">
        <div
          class="menu section"
          matRipple
          fxHide.gt-md
          (click)="toggleSidenavOpen()"
        >
          <mat-icon class="notranslate secondary-text">menu</mat-icon>
        </div>
      </div>
      <div class="right">
        <!-- Section Connection -->
        <div
          class="connection section"
          matRipple
          *ngIf="(isOnline$ | async) === 'offline'"
        >
          <mat-icon class="not-selected" [matTooltip]="'Offline'"
            >wifi_off</mat-icon
          >
        </div>
  
        <!-- Section Chat -->
        <!-- <div
          *ngIf="isVisibleButtonChatAssistance"
          class="color section not-selected"
          (click)="toggleOptionChat()"
          matRipple
        >
          <mat-icon
            class="notranslate secondary-text"
            [ngClass]="{ 'color-primario': isShowChat }"
            [matTooltip]="textButtonChatPlaceholder | translate"
          >
            chat
          </mat-icon>
        </div> -->
  
        <!-- Section Color -->
        <!-- <div
          class="color section not-selected"
          fxHide
          fxShow.gt-xs
          matRipple
          [matMenuTriggerFor]="colorMenu"
        >
          <div
            class="preview-color"
            [style.background-color]="
              selectedColor ? selectedColor.color : ''
            "
          ></div>
        </div> -->
  
        <!-- Section Language -->
        <!-- <div
          class="language section not-selected"
          fxHide
          fxShow.gt-xs
          matRipple
          [matMenuTriggerFor]="languageMenu"
        >
          <span class="preview-language">{{
            selectedLanguage ? selectedLanguage.description : ""
          }}</span>
        </div> -->
  
        <!-- Section Notification -->
        <!-- <div
          class="notification section not-selected"
          fxHide
          fxShow.gt-xs
          matRipple
        >
          <mat-icon
            class="not-selected"
            [matTooltip]="'Notifications' | translate"
            >notifications</mat-icon
          >
        </div> -->
  
        <!-- Section User -->
        <div
          matRipple
          class="user not-selected section"
          [matMenuTriggerFor]="userMenu"
          #userSection="matMenuTrigger"
        >
          <img
            class="user-photo not-selected"
            src="assets/imag/avatars/profile.jpg"
            [attr.alt]="user ? userFirstLastName : 'Image Profile'"
          />
  
          <div fxLayout="column" fxHide fxShow.gt-sm class="user-container">
            <!-- <span #userName class="user-name">{{ user ? user.name : "" }}</span>   -->
            <span #userName class="user-name">{{ userFirstLastName }}</span>  
            <span
              #userId
              class="user-id"
              [ngClass]="{ 'user-id-bigger': showEmailLong }"
            >
              {{ user ? user.email : "" }}
            </span>

          </div>
  
          <mat-icon
            aria-hidden="true"
            fxHide
            fxShow.gt-sm
            [class.rotate]="userSection.menuOpen"
            >keyboard_arrow_down</mat-icon
          >
        </div>
      </div>
    </div>
  </mat-toolbar>
  
  <!-- Menu User -->
  <mat-menu #userMenu="matMenu" class="user-menu">
    <button mat-menu-item (click)="openModalMyUserConfig()" *ngIf="viewMyUser">
      <mat-icon class="notranslate">account_circle</mat-icon>
      <span>My User</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon class="notranslate">exit_to_app</mat-icon>
      <span>Exit</span>
    </button>
  </mat-menu>
  
  <!-- Menu Colors -->
  <!-- <mat-menu #colorMenu="matMenu" class="color-menu" [overlapTrigger]="false">
    <div
      matRipple
      class="color-item-menu item-menu"
      mat-menu-item
      *ngFor="let color of colors"
      (click)="setColor(color)"
    >
      <div class="preview-color" [style.background-color]="color.color"></div>
    </div>
  </mat-menu> -->
  
  <!-- Menu Language -->
  <!-- <mat-menu
    #languageMenu="matMenu"
    class="language-menu"
    [overlapTrigger]="false"
  >
    <div
      matRipple
      class="language-item-menu item-menu"
      mat-menu-item
      *ngFor="let lang of languages"
      (click)="setLanguage(lang)"
    >
      <span class="preview-language">{{ lang.description }}</span>
    </div>
  </mat-menu> -->
  
