@import "src/@BCTheme/scss/BCTheme.scss";
#toolbar-app {
  padding: 0;
  background-color: white;
  @include mat-elevation(2);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    .section {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 100%;
      padding: 0 15px;

      &:hover {
        background-color: #e7e7e7;
      }
    }

    .left {
      height: inherit;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      > div {
        border-right: solid 0.8px #cbcbcb;
      }

      .menu {
        width: 60px;
      }
    }

    .right {
      height: inherit;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      > div {
        border-left: solid 0.8px #cbcbcb;
      }

      .user {
        > .user-photo {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }

        > .user-container {
          margin: 0 1.2em;
          align-items: flex-start;
          justify-content: center;

          > .user-name {
            font-size: 15px;
            color: #333333;
            font-weight: 600;
            margin-top: 10px;
            line-height: 1;
          }

          > .user-id {
            font-size: 13px;
            color: #333333;
            font-weight: 600;
            line-height: 1.7;
            font-weight: normal;
            display: inline-block;
          }

          > .user-id-bigger {
            @extend .user-id;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 170px;
          }
        }
        > mat-icon {
          font-size: 20px;
          width: 20px;
          height: 20px;
          transition: transform 600ms;

          &.rotate {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}

.preview-color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  border: solid 1px #eee;
}

.preview-language {
  text-align: center;
  font-size: 15px;
  color: #333333;
  font-weight: 600;
  // font-family: ;
}

/* Menus */

.item-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}