@import "src/@BCTheme/scss/BCTheme.scss";
// Componente Padre Project Analysis

.energetic-project-analysis {
    height: 100%;
    width: 100%;
    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .energetic-project-analysis-filter {
            width: 350px;
            height: 100%;
            overflow: hidden;
        }
        .energetic-project-analysis-content {
            width: 100%;
            height: 100%;
            .toolbar-report {
                width: 100%;
                >.toolbar-report-actions {
                    height: 65px;
                    padding: 10px 15px;
                    .toolbar-report-actions-content {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }
            }
            .message-filter-report {
                width: 100%;
                padding: 4px 10px;
            }
            .grid-content-report {
                height: 100%;
                width: 100%;
                &.applyFilter {
                    height: calc(100% - 65px - 50px);
                }
                ag-grid {
                    height: 100%;
                }
            }
        }
        // Cuando el panel lateral de filtros esta abierto
        &.open-panel-filter {
            .energetic-project-analysis-content {
                width: calc(100% - 350px);
                width: -webkit-calc(100% - 350px);
                width: -moz-calc(100% - 350px);
                .grid-content-report {
                    height: 100%;
                    &.applyFilter {
                        height: calc(100% - 48px);
                    }
                }
            }
        }
        // Para dispositivos movile
        @media screen and (max-width: 1024px) {
            &.open-panel-filter {
                .energetic-project-analysis-filter {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
                .energetic-project-analysis-content {
                    width: 0;
                    display: none;
                }
            }
        }
    }
}