@import "src/@BCTheme/scss/BCTheme.scss";

.resource-analysis {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 69%;
  grid-template-rows: 100%;
  grid-template-areas: "listview content";
  grid-column-gap: 5px;
  //   padding: 10px;

  .list-view {
    height: 100%;
    grid-area: listview;

    .list-view-header {
      height: 64px;
    }

    .list-view-content {
      padding: 0 15px;
      padding-bottom: 10px;
      overflow: overlay;
      height: calc(100% - 64px);

      mat-list {
        padding: 0;

        .list-view-item-wrapper {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }

     @-moz-document url-prefix() {
      .list-view-content {
        overflow: auto;
      }
    }

    &.has-apply-filters {
      .list-view-header {
        height: 115px;
      }

      .list-view-content {
        @include height-with-header(" - 115px");
      }
    }
  }

  .content {
    @include height-with-header();
    width: calc(100% - 10px);
    margin-right: 5px;
    grid-area: content;

    /* View Edit  */
    div[class*="-edit-page"] {
      //@include height-with-header();

      div[class*="-edit-container"] {
        width: 100%;

        .toolbar-report {
          width: 100%;

          > .toolbar-report-actions {
            height: 50px;
            padding: 10px 15px;
            background-color: transparent;

            .toolbar-report-actions-content {
              display: flex;
              width: 100%;
              height: 100%;
              align-items: center;
              justify-content: flex-start;

              .showListBtn {
                background-color: white !important;
                border-radius: 5px;
              }
            }
          }
        }


        div[class*="-edit-content"] {
          @include height-with-header(" - 64px");
          //height: 50vh;
          // padding-right: 5px;
          overflow: hidden;

          // .tabs-content {
          //   @include height-with-header(" - 64px - 50px");
          // }

          .project-resource-analysis-header {
            max-height: 100%;
            min-height: 50px;
            color: #fff;
            font-weight: 700;
            padding-left: 20px;
            font-family: "Myriad Pro";
            font-weight: bold;
            font-size: 12pt;
            border-radius: 5px;

            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              margin-right: 20px;
              background: #fff;
            }

            span.title {
              word-wrap: break-all;
              display: inline-block;
              overflow-wrap: anywhere;
            }

            .bubble_chart {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              margin-right: 4px;
            }
          }

          .grid-content-report {
            height: calc(100% - 50px);
            width: 100%;

            &.applyFilter {
              height: calc(100% - 50px - 48px);
            }

            ag-grid {
              height: 100%;
              // height: 400px;
            }
          }
        }
      }
    }
  }

  &.hide-list-view {
    grid-column-gap: 0px;
    grid-template-columns: 100%;
    grid-template-areas: "content";
    .content {
      display: block;
      width: 100%;
      padding: 0 10px;
    }

    .list-view {
      display: none;
    }
  }

  /* Cuanado la pantalla este en FullSize (Sin Header) */
  &.fullsize {
    // @include height-without-header();

    .list-view {
      // @include height-without-header();

      .list-view-content {
        // @include height-without-header(" - 64px");
      }

      &.has-apply-filters {
        .list-view-content {
          @include height-without-header(" - 115px");
        }
      }
    }

    .content {
      // @include height-without-header();

      div[class*="-edit-page"] {
        // @include height-without-header();
        div[class*="-edit-container"] {
          div[class*="-edit-content"] {
            @include height-without-header(" - 64px");
          }

          div[class*="-edit-content"] .tabs-content {
            @include height-without-header(" - 64px");
          }

          div[class*="-edit-content"] {
            div[class*="-edit-content-grid"] {
              @include height-without-header(" - 64px");
            }
          }
        }
      }
    }
  }

  /* MediaQuery cuando la pantalla sea para dispositivos moviles */
  @media screen and (max-width: 1024px) {
    grid-template-columns: 100%;
    grid-template-areas: "listview";

    .list-view {
      display: block;
    }
    .content {
      display: none;
    }

  }

  @media screen and (min-width: 1333px) {
    // .page {
    grid-template-columns: 400px calc(100% - 400px);

    .content {
      width: calc(100% - 20px);
    }
    // }
  }
}

