@import "src/@BCTheme/scss/BCTheme.scss";
// Componente Padre Project Analysis
.project-analysis {
    width: 100%;
    height: 100%;
    >mat-tab-group {
        height: 100%;
        .mat-tab-body-wrapper {
            height: 100%;
            // .mat-tab-body.mat-tab-body-active {
            //   overflow-y: hidden !important;
            //   .mat-tab-body-content {
            //     overflow-y: hidden !important;
            //   }
            // }
        }
        // Div Agrupado
        acciona-totalized-project-analysis {
            height: 100%;
            // Componente Totalized
            .totalized-project-analysis {
                height: 100%;
                width: 100%;
                &-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .totalized-project-analysis-filter {
                        width: 350px;
                        height: 100%;
                        overflow: hidden;
                    }
                    .totalized-project-analysis-content {
                        width: 100%;
                        height: 100%;
                        .toolbar-report {
                            width: 100%;
                            >.toolbar-report-actions {
                                height: 65px;
                                padding: 10px 15px;
                                .toolbar-report-actions-content {
                                    display: flex;
                                    width: 100%;
                                    height: 100%;
                                    align-items: center;
                                    justify-content: flex-start;
                                }
                            }
                        }
                        .message-filter-report {
                            width: 100%;
                            padding: 4px 10px;
                        }
                        .grid-content-report {
                            height: 100%;
                            width: 100%;
                            &.applyFilter {
                                height: calc(100% - 25px - 28px);
                            }
                            ag-grid {
                                height: 100%;
                            }
                        }
                    }
                    &-chart {}
                    // Cuando el panel lateral de filtros esta abierto
                    &.open-panel-filter {
                        .totalized-project-analysis-content {
                            width: calc(100% - 350px);
                            width: -webkit-calc(100% - 350px);
                            width: -moz-calc(100% - 350px);
                            .grid-content-report {
                                height: 100%;
                                &.applyFilter {
                                    height: calc(100% - 48px);
                                }
                            }
                        }
                    }
                    // Para dispositivos movile
                    @media screen and (max-width: 1024px) {
                        &.open-panel-filter {
                            .totalized-project-analysis-filter {
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                            }
                            .totalized-project-analysis-content {
                                width: 0;
                                display: none;
                            }
                        }
                    }
                    mat-drawer-container {
                        width: 100%;
                        height: calc(100% - 65px);
                        mat-drawer {
                            width: 0;
                        }
                        mat-drawer-content {
                            width: 100%;
                        }
                        &.show-chart {
                            mat-drawer {
                                width: 30%;
                            }
                            mat-drawer-content {
                                width: 70%;
                            }
                            &.maximize-drawer {
                                mat-drawer {
                                    width: 40%;
                                }
                                mat-drawer-content {
                                    width: 60%;
                                }
                            }
                        }
                        @media screen and (max-width: 599px) {
                            &.show-chart,
                            &.show-chart.maximize-drawer {
                                mat-drawer {
                                    width: 100%;
                                    display: block;
                                }
                                mat-drawer-content {
                                    display: none;
                                    width: 0;
                                    margin-top: 1%;
                                }
                            }
                        }
                    }
                }
                // &.fullsize {
                //   .totalized-project-analysis-container.open-panel-filter {
                //     .totalized-project-analysis-content {
                //       .grid-content-report {
                //         height: 100%;
                //         &.applyFilter {
                //           height: calc(100% - 50px);
                //         }
                //       }
                //     }
                //   }
                // }
            }
        }
        // Div Agrupado
        acciona-detailed-project-analysis {
            height: 100%;
            .detail-project-analysis {
                height: 100%;
                width: 100%;
                &-container {
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .toolbar-report {
                        width: 100%;
                        >.toolbar-report-actions {
                            height: 50px;
                            padding: 10px 15px;
                            .toolbar-report-actions-content {
                                display: flex;
                                width: 100%;
                                height: 100%;
                                align-items: center;
                                justify-content: flex-start;
                            }
                        }
                        .detail-project-analysis-header {
                            max-height: 50px;
                            min-height: 50px;
                            color: #fff;
                            font-weight: 700;
                            padding-left: 20px;
                            font-family: "Myriad Pro";
                            font-weight: bold;
                            font-size: 12pt;
                            img {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                margin-right: 20px;
                                background: #fff;
                            }
                            .bubble_chart {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                margin-right: 4px;
                            }
                        }
                    }
                    mat-drawer-container {
                        width: 100%;
                        height: calc(100% - 100px);
                        mat-drawer {
                            width: 0;
                        }
                        mat-drawer-content {
                            width: 100%;
                            mat-expansion-panel {
                                margin: 1%;
                            }
                        }
                        &.show-chart {
                            mat-drawer {
                                width: 30%;
                            }
                            mat-drawer-content {
                                width: 70%;
                                mat-expansion-panel {
                                    margin: 1%;
                                }
                            }
                            &.maximize-drawer {
                                mat-drawer {
                                    width: 40%;
                                }
                                mat-drawer-content {
                                    width: 60%;
                                    mat-expansion-panel {
                                        margin: 1%;
                                    }
                                }
                            }
                        }
                        @media screen and (max-width: 599px) {
                            &.show-chart,
                            &.show-chart.maximize-drawer {
                                mat-drawer {
                                    width: 100%;
                                }
                                mat-drawer-content {
                                    display: none;
                                    width: 0;
                                    mat-expansion-panel {
                                        margin: 1%;
                                    }
                                }
                            }
                        }
                    }
                    .content-grids {
                        &-row {
                            display: flex;
                            flex-direction: row;
                            >* {
                                flex: 1;
                            }
                        }
                        .margin-content-box {
                            margin: 10px !important;
                            height: fit-content;
                        }
                    }
                }
            }
        }
    }
}

.energetic-project-analysis {
    height: 100%;
    width: 100%;
    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .energetic-project-analysis-filter {
            width: 350px;
            height: 100%;
            overflow: hidden;
        }
        .energetic-project-analysis-content {
            width: 100%;
            height: 100%;
            .toolbar-report {
                width: 100%;
                >.toolbar-report-actions {
                    height: 65px;
                    padding: 10px 15px;
                    .toolbar-report-actions-content {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }
            }
            .message-filter-report {
                width: 100%;
                padding: 4px 10px;
            }
            .grid-content-report {
                height: 100%;
                width: 100%;
                &.applyFilter {
                    height: calc(100% - 65px - 50px);
                }
                ag-grid {
                    height: 100%;
                }
            }
        }
        &-chart {}
        // Cuando el panel lateral de filtros esta abierto
        &.open-panel-filter {
            .energetic-project-analysis-content {
                width: calc(100% - 350px);
                width: -webkit-calc(100% - 350px);
                width: -moz-calc(100% - 350px);
                .grid-content-report {
                    height: 100%;
                    &.applyFilter {
                        height: calc(100% - 48px);
                    }
                }
            }
        }
        // Para dispositivos movile
        @media screen and (max-width: 1024px) {
            &.open-panel-filter {
                .energetic-project-analysis-filter {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
                .energetic-project-analysis-content {
                    width: 0;
                    display: none;
                }
            }
        }
        mat-drawer-container {
            width: 100%;
            height: calc(100% - 65px);
            mat-drawer {
                width: 0;
            }
            mat-drawer-content {
                width: 100%;
            }
            &.show-chart {
                mat-drawer {
                    width: 30%;
                }
                mat-drawer-content {
                    width: 70%;
                }
                &.maximize-drawer {
                    mat-drawer {
                        width: 40%;
                    }
                    mat-drawer-content {
                        width: 60%;
                    }
                }
            }
            @media screen and (max-width: 599px) {
                &.show-chart,
                &.show-chart.maximize-drawer {
                    mat-drawer {
                        width: 100%;
                        display: block;
                    }
                    mat-drawer-content {
                        display: none;
                        width: 0;
                        margin-top: 1%;
                    }
                }
            }
        }
    }
}