<div
  class="input-bar-filter"
  [ngClass]="{ fullsize: scrollHiddenToolbar$ | async }"
>
  <!-- Toolbar default -->
  <ng-container *ngIf="!onlyPanelFilter">
    <mat-toolbar class="toolbar-tools">
      <ng-container
        *ngIf="!isEditionMode; then modeFilter; else modeEdition"
      ></ng-container>
    </mat-toolbar>

    <!-- Mensajes del Toolbar (loa que aparecen debajo del toolbar) -->
    <div class="messages">
      <!--SE MUESTRA MSJ CUANDO BUSCO EN EL INDEXDDB-->
      <div
        class="messages-container"
        *ngIf="showMsgIndexedDB && (isOnline$ | async) === 'online'"
      >
        <button
          mat-button
          (click)="onSearchButton()"
          class="go-filter"
          color="primary"
        >
        Search on the Server
        </button>
      </div>

      <!--FILTROS ADICIONALES (aparece cuando se agrega un filtro) -->
      <div class="messages-container" *ngIf="hasExtrasFilters">
        <button
          mat-button
          (click)="openFilterPanel()"
          class="go-filter"
          color="primary"
        >
          Additional filters applied
        </button>

        <button mat-icon-button class="close-message" (click)="deleteFilters()">
          <mat-icon class="notranslate">close</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>

  <!-- Panel extra de Filtros -->
  <!-- [@slidePanelFilter]="isShowPanelFilter" -->
  <div
    class="panel-extra-filter"
    *ngIf="isShowPanelFilter"
    [ngClass]="{
      open: isShowPanelFilter
    }"
  >
    <mat-toolbar class="toolbar-filter" color="primary">
      <div class="toolbar-filter-content">
        <div class="toolbar-filter-title">
          <h2>Filter</h2>
        </div>
        <div class="toolbar-filter-actions">
          <button
            mat-icon-button
            [matTooltip]="'Apply filters'"
            (click)="applyFilters()"
          >
            <mat-icon class="notranslate">check</mat-icon>
          </button>
          <button
            mat-icon-button
            [matTooltip]="'Delete filters'"
            (click)="deleteFilters()"
          >
            <mat-icon class="notranslate">delete</mat-icon>
          </button>
          <button
            mat-icon-button
            [matTooltip]="'Close panel'"
            (click)="closeFilterPanel()"
          >
            <mat-icon class="notranslate">chevron_left</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <div
      class="panel-extra-filter-content"
      appScrollHiddenHeader
      [formGroup]="formFilter"
    >
      <ng-content></ng-content>
    </div>
  </div>
</div>

<!-- -------------------------------------------------------------- -->
<!-- Templates del Toolbar Default -->
<!-- -------------------------------------------------------------- -->

<!-- Modo de Filtrado (Default) -->
<ng-template #modeFilter>
  <div class="mode-filter" [ngClass]="{ 'disabled-input': !isShowInputSearch }">
    <div
      *ngIf="isShowInputSearch"
      class="container-input-filter"
      appSearchInput
      [formGroup]="formFilter"
      (onDelete)="onSearchButton()"
    >
      <!-- <form [formGroup]=""></form> -->
      <input
        placeholder="{{ searchPlaceHolder }}"
        type="search"
        autocomplete="nope"
        class="input-filter"
        formControlName="searchText"
        (keyup)="searchKeyUp($event)"
      />
      <button
        type="button"
        class="input-clear-icon"
        tabindex="-1"
        (click)="cleanField()"
      >
        <span>x</span>
      </button>
    </div>
    <div class="container-actions-filter">
      <!-- Button Search -->
      <button
        [disabled]="
          (isOnline$ | async) === 'offline' ||
          isSpinSearch ||
          isDisabledSearchButton
          "
        *ngIf="isShowRefreshButton"
        class="action search"
        mat-icon-button
        [matTooltip]="'Search'"
        (click)="onSearchButton()"
      >
        <div class="spin-content" [ngClass]="{ 'active-spin': isSpinSearch }">
          <mat-icon class="notranslate icon-default">{{
            isShowInputSearch ? "search" : "refresh"
          }}</mat-icon>
          <mat-icon class="notranslate icon-spin">autorenew</mat-icon>
        </div>
      </button>

      <!-- Button Extra Filter -->
      <!-- [disabled]="(isOnline$ | async) === 'offline'" -->
      <button
        class="action extra-filter"
        mat-icon-button
        [disabled]="isDisabledFilterButton"
        [matTooltip]="'Filter'"
        (click)="openFilterPanel()"
        *ngIf="isShowFilterButton"
      >
        <mat-icon class="notranslate"  
            [ngClass]=" isExpansionActive ? 'color-primario' : hasExtraFiltersInCollapsable  ?  'filters-applied' : '' ">filter_list</mat-icon>
      </button>

      <!-- Button New -->
      <button
        *ngIf="isShowAddButton && menuHamburgerAddContent.length === 0"
        class="action add"
        [disabled]="(isOnline$ | async) === 'offline' || isDisabledAddButton"
        mat-icon-button
        [matTooltip]="tooltipTextButtonAdd"
        (click)="add()"
      >
        <mat-icon class="notranslate">add_circle_outline</mat-icon>
      </button>
      <button
        *ngIf="isShowAddButton && menuHamburgerAddContent.length > 0"
        class="action add"
        [disabled]="(isOnline$ | async) === 'offline' || isDisabledAddButton"
        mat-icon-button
        [matTooltip]="tooltipTextButtonAdd"
        [matMenuTriggerFor]="addMenu"
      >
        <mat-icon class="notranslate">add</mat-icon>
      </button>

      <!-- Button More -->

      <button
        *ngIf="menuHamburgerContent.length > 0"
        class="action more"
        [disabled]="isDisabledMoreMenuButton"
        mat-icon-button
        [matTooltip]="'More'"
        [matMenuTriggerFor]="moreMenu"
      >
        <mat-icon class="notranslate">more_vert</mat-icon>
      </button>
    </div>
  </div>

  <!-- Menu de mas Filtros -->
  <mat-menu #moreMenu [overlapTrigger]="false">
    <ng-container *ngFor="let item of menuHamburgerContent">
      <button mat-menu-item (click)="item.function()">
        <mat-icon class="notranslate">{{ item.icon }}</mat-icon>
        {{ item.name }}
      </button>
    </ng-container>
  </mat-menu>

  <mat-menu #addMenu [overlapTrigger]="false">
    <ng-container *ngFor="let item of menuHamburgerAddContent">
      <button mat-menu-item (click)="addMenuOption(item.function)" [disabled]="item?.disabled">
        <mat-icon class="notranslate">{{ item.icon }}</mat-icon>
        {{ item.name }}
      </button>
    </ng-container>
  </mat-menu>
</ng-template>

<!-- Modo de Edicion (Eliminar items) -->
<ng-template #modeEdition>
  <div class="mode-edition">
    <div class="container-extra-actions-filter">
      <button
        class="action back"
        mat-icon-button
        [matTooltip]="'Back'"
        (click)="closeExtraFilter()"
      >
        <mat-icon class="notranslate">arrow_back</mat-icon>
      </button>
      <btn-confirm-delete
        class="action delete"
        [enableDelete]="(isOnline$ | async) === 'online'"
        [enableDelete]="isEnableDelete"
        [enableConfirmDeleteDialog]="enableConfirmDeleteDialog"
        [messageConfirmDeleteDialog]="messageConfirmDeleteDialog"
        (onDelete)="delete()"
        (onConfirmDeleteDialog)="confirmDeleteDialog($event)"
      >
      </btn-confirm-delete>
    </div>
  </div>
</ng-template>

