// component css goes here
#template-dialog {
  mat-toolbar {
    // background-color: #ff5625;
    color: white;

    > div {
      display: flex;
      flex-direction: row;

      button mat-icon {
        color: white;
      }
    }
  }
}

.body-container-brick {
  overflow-y: auto;
  margin-top: 20px;
  max-height: calc(70vh - 56px);
  padding: 0 16px 16px;
}

@media screen and (max-width: 800px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  h3 {
    font-size: 1rem;
  }
}

.content-container {
  width: 100%;
  overflow: hidden;
  flex: 1;
}

.title-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px;

  h3 {
    white-space: normal;
    line-height: 22px;
    display: inline-block;
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70px;
}

.button-delete {
  width: 120px;
}
