<div
  id="template-dialog"
  (keyup)="keypressed($event)"
  appSelectTextAutomatically
>
  <mat-toolbar fxLayoutAlign="space-between center" color="primary">
    <div class="content-container">
      <div class="title-container">
        <h3>{{ title }}</h3>
      </div>
      <div
        class="buttons-container"
        [ngClass]="{ 'button-delete': isShowDelete }"
      >
        <button
          mat-icon-button
          [matTooltip]=" msgBtnAceptar"
          (click)="confirm()"
          (focus)="onFocus($event)"
          *ngIf="btnApply"
          [disabled]="disabled"
        >
          <div class="spin-content" [ngClass]="{ 'active-spin': isSpinSave }">
            <mat-icon class="notranslate icon-default">check</mat-icon>
            <mat-icon class="notranslate icon-spin">autorenew</mat-icon>
          </div>
        </button>
        <button mat-icon-button *ngIf="isSpinRefresh">
          <div
            class="spin-content"
            [ngClass]="{ 'active-spin': isSpinRefresh }"
          >
            <mat-icon class="notranslate icon-spin">autorenew</mat-icon>
          </div>
        </button>
        <btn-confirm-delete
          class="white-icons"
          *ngIf="isShowDelete"
          (onDelete)="onHandleDelete()"
        >
        </btn-confirm-delete>
        <button
          mat-icon-button
          [matTooltip]="'Cancel'"
          (click)="close()"
        >
          <mat-icon class="notranslate">close</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
  <div [ngClass]="{ 'body-container-brick': isClassDefault }">
    <ng-content></ng-content>
  </div>
</div>
