/* Evita que un elemento pueda ser seleccionado o arrastrado */
*.not-selected {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.padding-content-box {
  padding: 5px;
}

.wrap-text {
  word-wrap: break-all;
  display: inline-block;
  overflow-wrap: anywhere;
}

// ::ng-deep {
  .mat-slide-toggle.bg-slider-toggle {
    height: 100% !important;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 5px 10px;
    color: #424242 !important;
    font-size: 16px;
    margin: 0 5px;
  }
// }
