<nav class="Navbar" *ngIf="tabs.length > 0">
    <div
      matRipple
      class="Navbar-pagination"
      (click)="scrollLeft()"
      *ngIf="isVisibleMovePagination"
    >
      <mat-icon class="not-selected notranslate">chevron_left</mat-icon>
    </div>
    <div
      #tabContent
      id="tab-app"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListDisabled]="isMobileElseDisabled$ | async"
      class="Navbar-list"
      [cdkDropListData]="tabs"
      (cdkDropListDropped)="dropSubTab($event)"
    >
      <div
        class="Navbar-list-item"
        *ngFor="let tab of tabs; let i = index"
        cdkDrag
        [class.active]="selectedId ? selectedId === tab.id : false"
        cdkDragBoundary=".Navbar"
        cdkDragLockAxis="x"
        (cdkDragStarted)="onStartDragTab($event, tab)"
        (click)="onChangeTab(tab)"
        [attr.data-idtab]="tab.id"
      >
        <span class="item-title">
          {{ tab.title }}
        </span>
        <mat-icon class="notranslate item-close" (click)="removeTab(tab)"
          >close</mat-icon
        >
      </div>
    </div>
    <div
      matRipple
      class="Navbar-pagination"
      (click)="scrollRight()"
      *ngIf="isVisibleMovePagination"
    >
      <mat-icon class="not-selected notranslate">chevron_right</mat-icon>
    </div>
  </nav>