<modals-template
  [title]="title"
  (onClose)="close()"
  (onConfirm)="apply()"
  [disabled]="disabled"
>
  <div class="content-dialog" fxLayout="column" [formGroup]="formControlUserInformation">
    <div fxlayout="row" fxLayout.xs="column">
      <mat-form-field fxFlex="45" fxFlex.xs="100">
        <input
          autocomplete="nope"
          matInput
          placeholder="email"
          for
          readonly
          formControlName="email"
        />        
      </mat-form-field>
      <div fxFlex="10"></div>
      <mat-form-field fxFlex="45" fxFlex.xs="100">
        <input
          autocomplete="nope"
          matInput
          placeholder="First Name"
          formControlName="firstName"
        />
        <mat-error
          *ngIf="formControlUserInformation?.get('firstName')?.hasError('required')"
        >
          Required field
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
      <mat-form-field fxFlex="45" fxFlex.xs="100">
        <input
          autocomplete="nope"
          matInput
          placeholder="lastName"
          for
          formControlName="lastName"
        />
        <mat-error
          *ngIf="formControlUserInformation?.get('lastName')?.hasError('required')"
        >
          Required field
        </mat-error>
      </mat-form-field>

      <div fxFlex="10"></div>
      <mat-form-field fxFlex="45" fxFlex.xs="100">
        <input
          autocomplete="nope"
          matInput
          placeholder="user Name"
          formControlName="userName"
        />
        <mat-error
          *ngIf="formControlUserInformation?.get('userName')?.hasError('required')"
        >
          Required field
        </mat-error>
      </mat-form-field> 
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxLayoutAlign="space-between center" fxFlex="45" fxFlex.xs="100">
        <p fxFlex="100"> Change Password </p>

        <mat-slide-toggle
          fxFlex
          formControlName="changePassword"
          (change)="toggleFlag($event.checked)"
        ></mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" *ngIf="changePass">
      <mat-form-field fxFlex="45" *ngIf="changePass" fxFlex.xs="100">
        <input
          autocomplete="nope"
          matInput
          [type]="hide1 ? 'password' : 'text'"
          formControlName="password"
          placeholder="password"
        />
        <mat-icon matSuffix (click)="hide1 = !hide1">{{
          hide1 ? "visibility_off" : "visibility"
        }}</mat-icon>

        <mat-hint *ngIf="err01">
          <mat-error> {{ err01 }} </mat-error>
        </mat-hint>

        <mat-error
          *ngIf="formControlUserInformation?.get('password')?.hasError('required')"
        >
          Required field
        </mat-error>
      </mat-form-field>
      <div fxFlex="10"></div>
      <mat-form-field fxFlex="45" fxFlex.xs="100">
        <input
          autocomplete="nope"
          matInput
          [type]="hide2 ? 'password' : 'text'"
          formControlName="CPassword"
          placeholder="Confirm Password"
        />
        <mat-icon matSuffix (click)="hide2 = !hide2">{{
            hide2 ? "visibility_off" : "visibility"
          }}</mat-icon>

          <mat-hint *ngIf="err02">
            <mat-error> {{ err02 }} </mat-error>
          </mat-hint>
          <mat-error *ngIf="formControlUserInformation?.get('CPassword')?.invalid">
            Required field
          </mat-error>
          <mat-error *ngIf="err02"> {{ err02 }} </mat-error>
      </mat-form-field>
    </div>
  </div>
</modals-template>
