::ng-deep {
    .no-line {
        .mat-form-field-underline{
            display: none;
        }
    }
}

.color-avatar{
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    border: solid 1px #eee;
}

.err{
    color: #f44336;
}