button[mat-icon-button] {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    line-height: 30px !important;
    color: #858585;
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
  &:disabled mat-icon {
    color: #cbcbcb !important;
    // background-color: rgba(0, 0, 0, 0.2);
    // border-radius: 50%;
  }
}
