/* 
 *---------------------------------------------------------------------------------
 * Myriad Pro 
 *---------------------------------------------------------------------------------
 */
/* Normal */
// @font-face {
//     font-family: Myriad-Pro;
//     src: url("assets/fonts/Myriad-Pro/Myriad-Pro.ttf");
//     font-style: normal;
// }
// /* Bold */
// @font-face {
//     font-family: Myriad-Pro;
//     src: url("assets/fonts/Myriad-Pro/Myriad-Pro-Bold.ttf");
//     font-weight: bold;
//     font-style: normal;
// }
// /* Light */
// @font-face {
//     font-family: Myriad-Pro;
//     src: url("assets/fonts/Myriad-Pro/Myriad-Pro-Light.ttf");
//     font-weight: lighter;
//     font-style: normal;
// }
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("/assets/fonts/Myriad-Pro/Myriad-Pro.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 200;
  src: local("Myriad Pro Light"), url("/assets/fonts/Myriad-Pro/Myriad-Pro-Light.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Myriad Pro Semibold"),
    url("/assets/fonts/Myriad-Pro/Myriad-Pro-Semi-Bold.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: italic;
  font-weight: 600;
  src: local("Myriad Pro Semibold Italic"),
    url("/assets/fonts/Myriad-Pro/Myriad-Pro-Semi-Bold-Italic.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: bold;
  src: local("Myriad Pro Bold"), url("/assets/fonts/Myriad-Pro/Myriad-Pro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: italic;
  font-weight: bold;
  src: local("Myriad Pro Bold Italic"),
    url("/assets/fonts/Myriad-Pro/Myriad-Pro-Bold-Italic.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"),
    url("/assets/fonts/Myriad-Pro/Myriad-Pro-Condensed.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Condensed";
  font-style: italic;
  font-weight: normal;
  src: local("Myriad Pro Condensed Italic"),
    url("/assets/fonts/Myriad-Pro/Myriad-Pro-Condensed-Italic.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Condensed";
  font-style: normal;
  font-weight: bold;
  src: local("Myriad Pro Bold Condensed"),
    url("/assets/fonts/Myriad-Pro/Myriad-Pro-Bold-Condensed.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Condensed";
  font-style: italic;
  font-weight: bold;
  src: local("Myriad Pro Bold Condensed Italic"),
    url("/assets/fonts/Myriad-Pro/Myriad-Pro-Bold-Condensed-Italic.woff") format("woff");
}
