/* Animacion de Spin con dos iconos */
button[mat-icon-button] div.spin-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 0 2.3rem 0 0;
  width: 40px;
  height: 40px;

  mat-icon {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    display: block;
  }

  .icon-default {
    transition: opacity 0.5s, transform 0.5s;
  }

  .icon-spin {
    transition: opacity 0.5s, transform 0.5s;
    transform: rotate(-180deg) scale(0.5);
    opacity: 0;
    color: #a3a3a3;
  }

  &.active-spin {
    .icon-spin {
      // transform: rotate(0deg) scale(1) !important;
      opacity: 1 !important;
      -webkit-animation: 2s linear infinite animation-spin;
      animation: 2s linear infinite animation-spin;
    }
    .icon-default {
      transform: rotate(180deg) scale(0.5) !important;
      opacity: 0 !important;
    }
  }
}
