@import "@angular/material/theming";
@include mat-core();
@import "components";

$mat-white: (
  500: white,
  contrast: (
    500: $black-87-opacity,
  ),
);

$mat-black: (
  500: black,
  contrast: (
    500: white,
  ),
);

$mat-fusedark: (
  50: #ececee,
  100: #c5c6cb,
  200: #9ea1a9,
  300: #7d818c,
  400: #5c616f,
  500: #3c4252,
  600: #353a48,
  700: #2d323e,
  800: #262933,
  900: #1e2129,
  A100: #c5c6cb,
  A200: #9ea1a9,
  A400: #5c616f,
  A700: #2d323e,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $white-87-opacity,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  ),
);

// Palettes
/* 'orange-theme' */
$primary: mat-palette($mat-deep-orange, 500);
$accent:  mat-palette($mat-deep-orange, 400);
$warn:    mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);
@include brick-control-component-theme($theme);
@include angular-material-theme($theme);

.blue-theme {
$blue-primary: mat-palette($mat-blue, 500);
$blue-accent: mat-palette($mat-blue, 400);
$blue-warn: mat-palette($mat-red);
$blue-theme: mat-light-theme($blue-primary, $blue-accent, $blue-warn);
@include brick-control-component-theme($blue-theme);
@include angular-material-theme($blue-theme);
}

.brown-theme {
  $brown-primary: mat-palette($mat-brown, 500);
  $brown-accent: mat-palette($mat-brown, 400);
  $brown-warn: mat-palette($mat-red);
  $brown-theme: mat-light-theme($brown-primary, $brown-accent, $brown-warn);
  @include brick-control-component-theme($brown-theme);
  @include angular-material-theme($brown-theme);
}

.darkblue-theme {
  $darkblue-primary: mat-palette($mat-light-blue, 900);
  $darkblue-accent: mat-palette($mat-light-blue, 800);
  $darkblue-warn: mat-palette($mat-red);
  $darkblue-theme: mat-light-theme(
    $darkblue-primary,
    $darkblue-accent,
    $darkblue-warn
  );
  @include brick-control-component-theme($darkblue-theme);
  @include angular-material-theme($darkblue-theme);
}

.green-theme {
  $green-primary: mat-palette($mat-light-green, 500);
  $green-accent: mat-palette($mat-light-green, 400);
  $green-warn: mat-palette($mat-red);
  $green-theme: mat-light-theme($green-primary, $green-accent, $green-warn);
  @include brick-control-component-theme($green-theme);
  @include angular-material-theme($green-theme);
}

.grey-theme {
  $grey-primary: mat-palette($mat-blue-grey, 500);
  $grey-accent: mat-palette($mat-blue-grey, 400);
  $grey-warn: mat-palette($mat-red);
  $grey-theme: mat-light-theme($grey-primary, $grey-accent, $grey-warn);
  @include brick-control-component-theme($grey-theme);
  @include angular-material-theme($grey-theme);
}

.orange-theme {
  $orange-primary: mat-palette($mat-deep-orange, 500);
  $orange-accent: mat-palette($mat-deep-orange, 400);
  $orange-warn: mat-palette($mat-red);
  $orange-theme: mat-light-theme($orange-primary, $orange-accent, $orange-warn);
  @include brick-control-component-theme($orange-theme);
  @include angular-material-theme($orange-theme);
}

.turquoise-theme {
  $turquoise-primary: mat-palette($mat-teal, 500);
  $turquoise-accent: mat-palette($mat-teal, 400);
  $turquoise-warn: mat-palette($mat-red);
  $turquoise-theme: mat-light-theme(
    $turquoise-primary,
    $turquoise-accent,
    $turquoise-warn
  );
  @include brick-control-component-theme($turquoise-theme);
  @include angular-material-theme($turquoise-theme);
}

.yellow-theme {
  $yellow-primary: mat-palette($mat-amber, 500);
  $yellow-accent: mat-palette($mat-amber, 400);
  $yellow-warn: mat-palette($mat-red);
  $yellow-theme: mat-light-theme($yellow-primary, $yellow-accent, $yellow-warn);
  @include brick-control-component-theme($yellow-theme);
  @include angular-material-theme($yellow-theme);
}

.pink-theme {
  $pink-primary: mat-palette($mat-pink, 500);
  $pink-accent: mat-palette($mat-pink, 400);
  $pink-warn: mat-palette($mat-red);
  $pink-theme: mat-light-theme($pink-primary, $pink-accent, $pink-warn);
  @include brick-control-component-theme($pink-theme);
  @include angular-material-theme($pink-theme);
}

.fuchsia-theme {
  $fuchsia-primary: mat-palette($mat-purple, 500);
  $fuchsia-accent: mat-palette($mat-purple, 400);
  $fuchsia-warn: mat-palette($mat-red);
  $fuchsia-theme: mat-light-theme(
    $fuchsia-primary,
    $fuchsia-accent,
    $fuchsia-warn
  );
  @include brick-control-component-theme($fuchsia-theme);
  @include angular-material-theme($fuchsia-theme);
}

.purple-theme {
  $purple-primary: mat-palette($mat-deep-purple, 500);
  $purple-accent: mat-palette($mat-deep-purple, 400);
  $purple-warn: mat-palette($mat-red);
  $purple-theme: mat-light-theme($purple-primary, $purple-accent, $purple-warn);
  @include brick-control-component-theme($purple-theme);
  @include angular-material-theme($purple-theme);
}

// @include brick-control-component-theme($theme);
