<div fxLayout="row" fxFlex id="reset">

    <div fxFlex.xs="100" fxLayout.xs="row" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="33.3" fxFlex.xl="33.3"
        fxLayout="column" fxLayoutAlign="start">
        <div id="reset-intro" fxFlex [fxShow.md]="noVisible" [fxShow.lg]="noVisible" [fxShow.xl]="noVisible">
            <mat-progress-bar *ngIf="showLoadBar" class="loading-bar" color="accent"
                mode="indeterminate"></mat-progress-bar>
        </div>

        <div id="reset-form-wrapper" style="overflow: -webkit-paged-x; height: 100%;">
            <div id="reset-form">
                <div class="logo">
                    <!-- <img src="{{ logoBrickcontrol }}" alt="logo" /> -->
                    <label>Reset Password</label>
                </div>

                <form name="resetForm" [formGroup]="resetForm" novalidate>
                    <mat-form-field>
                        <input autocomplete="nope" type="email" autocorrect="off" autocapitalize="off" matInput
                            placeholder="Email" formControlName="email" />
                        <mat-error *ngIf="resetFormErrors.email.required">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="
                  !resetFormErrors.email.required && resetFormErrors.email.email
                ">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input 
                            autocomplete="nope" 
                            matInput 
                            [type]="hide ? 'password' : 'text'"  
                            placeholder="Password"
                            formControlName="password" />
                        <mat-icon 
                            matSuffix 
                            (click)="hide = !hide">
                            {{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                        <mat-error *ngIf="resetFormErrors.password.required">
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input 
                            autocomplete="nope" 
                            matInput 
                            [type]="hideCpassword ? 'password' : 'text'"  
                            placeholder="Password Confirmation"
                            formControlName="password_confirmation" />
                        <mat-icon 
                            matSuffix 
                            (click)="hideCpassword = !hideCpassword">
                            {{hideCpassword ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                        <mat-error *ngIf="resetFormErrors.password.required">
                            Password confirmation is required
                        </mat-error>
                    </mat-form-field>

                    <div>
                        <button mat-raised-button color="primary" class="submit-button" aria-label="RESET"
                            (click)="reset()" [disabled]="resetForm.invalid">
                            RESET
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div
      [fxShow.xs]="noVisible"
      [fxShow.sm]="noVisible"
      fxFlex.md="60"
      fxFlex.lg="66.6"
      fxFlex.xl="66.6"
      fxLayout="column"
    >
      <div
        id="login-intro2"
        fxFlex
        [fxShow.xs]="noVisible"
        [fxShow.sm]="noVisible"
      >
        <mat-progress-bar
          *ngIf="showLoadBar"
          class="loading-bar"
          color="accent"
          mode="indeterminate"
        ></mat-progress-bar>
      </div>
  
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        style="
          height: 100%;
          align-items: center;
          justify-content: center;
          background-image: linear-gradient(#cbd2e0, #f1f1f1);
        "
      >
        <img
        class="image-marketing"
          src="/assets/imag/imag-principal.jpg"
          alt="title"
        />
      </div>
    </div>
</div>